*.iml
/.gradle
/local.properties
/.idea
/buildSrc/build
/buildSrc/.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build/
/demo/.idea/codeStyles/codeStyleConfig.xml
/demo/.idea/codeStyles/Project.xml
/demo/.idea/.gitignore
/demo/.idea/gradle.xml
/demo/.idea/misc.xml
/demo/.idea/modules.xml
/demo/.idea/vcs.xml
/demo/.gradle/6.8.3/executionHistory/executionHistory.lock
/demo/.gradle/6.8.3/fileChanges/last-build.bin
/demo/.gradle/6.8.3/fileHashes/fileHashes.lock
/demo/.gradle/6.8.3/gc.properties
/demo/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/demo/.gradle/buildOutputCleanup/cache.properties
/demo/.gradle/buildOutputCleanup/outputFiles.bin
/demo/.gradle/checksums/checksums.lock
/demo/.gradle/checksums/md5-checksums.bin
/demo/.gradle/checksums/sha1-checksums.bin
/demo/.gradle/configuration-cache/gc.properties
/demo/.gradle/vcs-1/gc.properties
